body{
    background-color:black
}
h1,p,table{
    color:white;
    font-family:Tahoma;
}
form {
    background-color: orangered;
    padding: 10px;
    border-radius: 15px;
}
article{
    background-color:black;
    padding:12px;
    width:500px;
    overflow:hidden;
}
article > p, article > table{
    background-color:black;
    margin:12px;
    padding:12px;
    width:auto;
    overflow:hidden;
}
table, tr, td{
    border-collapse:collapse;
    border:solid;
    border-color:orangered;
    margin:20px;
}
header {
    position: fixed;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: orangered;
}
nav{
    display:flex;
    justify-content: space-around;
}
main{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    margin-top:50px;
    margin-bottom:50px;
    grid-gap:20px;
}
footer {
    text-align:right;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: orangered;
    z-index:2;
}
video{
    width:100%;
}

/*Meny*/

nav a, .meny .meny-btn {
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
    color: black;
    outline: none;
    border: none;
    margin-top:5px;
    font-family:Tahoma;
}

nav a:hover, .meny .meny-btn:hover, .meny-innhold a:hover {
    background-color: red;
    color: black;
}

.meny {
    overflow: hidden;
}

.meny-innhold {
    display: none;
    position: absolute;
    background-color: orangered;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.meny-innhold a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.meny:hover .meny-innhold {
    display: block;
}
/*Meny Slutt*/

.kol-1 {grid-column: span 1;}
.kol-2 {grid-column: span 2;}
.kol-3 {grid-column: span 3;}
.kol-4 {grid-column: span 4;}
.kol-5 {grid-column: span 5;}
.kol-6 {grid-column: span 6;}
.kol-7 {grid-column: span 7;}
.kol-8 {grid-column: span 8;}
.kol-9 {grid-column: span 9;}
.kol-10 {grid-column: span 10;}
.kol-11 {grid-column: span 11;}
.kol-12 {grid-column: span 12;}